html,
body {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.webgl {
  border: 1px solid black;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.svg {
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.press {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
