.btn {
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: lightgrey;
}
